{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>{{ user.get_username  }}</h1>
<a href="/accounts/accounts/logout/">logout</a>

<div>
    <form action="{%url 'create'%}">
        <h4>temperature: </h4>
        <input type="text" name="title">
        <br><br>
{#        <h4>name: </h4>#}
        <input style="display: none" type="text" value="{{ user.username }}" name="student_name">
        <br><br>
        <input class="btn" type="submit" value="submit">
    </form>
</div>


{% else %}
    <a href="{%url 'oauthlogin'%}">Google Login</a>
{% endif %}

{% endblock %}